.your-code {
  margin-top: 40px;
  border: 2px solid darkmagenta;
}

.active {
  background-color: #8b008b71;
}

th,td{
  text-align: center;
}
.table-hover tbody tr:hover{
  background-color: #8b008b71;
}