<div class="assignment1">
  <div class="alert alert-info">Follow the steps:</div>
  <ul class="list-group">
    <li class="list-group-item">Create an input of type "text"</li>
    <li class="list-group-item">Attach a template reference variable to the input</li>
    <li class="list-group-item">Attach an "input" event passing in the value of textbox to the handler</li>
    <li class="list-group-item">Create handler in the component's class</li>
    <li class="list-group-item">Display the result on the page via string interpolation</li>
  </ul>
  <div class="container your-code">
    <h5 class="col-12 mt-3 mb-3">Assignment 1 - Solution </h5>
    <!-- template reference variable -->
        <h5 class="col-sm-2 pt-2">Input :</h5> 
        <input type="text"
          class="form-control col-sm-10"
          id="textinput"
          placeholder="Enter information here..."
          #inputEle
          (input)="onInput(inputEle.value)">
      
        <h5 class="col-12 mt-3"> Entered Text is : {{ info }}</h5>

  </div>
</div>
